- if resource.errors.any?
  - resource.errors.full_messages.each do |message|
    .notification.is-danger{"data-controller" => "flash"}
      %button.delete{"data-action" => "flash#close"}
      %p= message
