<% if resource.errors.any? %>
  <% resource.errors.full_messages.each do |message| %>
    <div data-controller="flash" class="notification is-danger">
      <button class="delete" data-action="flash#close"></button>
      <p><%= message %></p>
    </div>
  <% end %>
<% end %>
