<h2 class="subtitle">Editando <%= @user.name %></h2>

<section class="section">
  <%= render 'form', user: @user %>
</section>

<div class="buttons">
  <%= link_to 'Voltar', users_path, class: 'button is-link' %>
  <%= link_to 'Mostrar', @user, class: 'button is-link' %>
</div>
