<% flash.each do |type, msg| %>
  <div data-controller="flash"
       class="notification
        <%= case type
            when :sucess
              "is-sucess"
            when :notice
              "is-info"
            when :alert
              "is-warning"
            else
              "is-danger"
            end %>">
    <button class="delete" data-action="flash#close"></button>
    <p><%= msg %></p>
  </div>
<% end %>
