<nav class="tabs is-boxed" id="navbar">
  <ul>
    <li class="is-active"><a> Equipe </a></li>
    <li><a> PADhu </a></li>
    <li><a> Tecitura </a></li>
  </ul>
  <div class="level-right">
    <a class="button is-link">Minha Conta (<%= current_user.name %>)</a>
  </div>
</nav>

