<nav class="tabs is-boxed" id="navbar">
  <ul data-controller="navbar" data-navbar-current-path="<%= current_route_scope %>">
    <li data-target="navbar.dashboard"><a href="/"> Dashboard </a></li>
    <li data-target="navbar.users"><a href="<%= users_path %>"> Equipe </a></li>
    <li data-target="navbar.tecitura"><a> Tecitura </a></li>
  </ul>
  <div class="level-right">
    <%= link_to("Minha Conta (#{current_user.name})", current_user, class: 'button is-link') %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: '') %>
  </div>
</nav>

