<nav class="tabs is-boxed" id="navbar">
  <ul data-controller="navbar" data-navbar-current-path="<%= current_route_scope %>">
    <li data-target="navbar.dashboard"><a href="/"> Dashboard </a></li>
    <li data-target="navbar.users"><a href="/users"> Equipe </a></li>
    <li data-target="navbar.tecitura"><a> tecitura Tecitura </a></li>
  </ul>
  <div class="level-right">
    <a class="button is-link">Minha Conta (<%= current_user.name %>)</a>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </div>
</nav>

