.field.is-horizontal{ data: { controller: 'nested-item', 'nested-item': { persisted: form.object.persisted? }}}
  .field-body
    .field.is-horizontal
      .field-label.is-normal
        %label.label Ano
      .field-body
        .field
          .control
            .select
              = form.input(:ano, collection: ano_collection)
    .field.is-horizontal
      .field-label.is-normal
        %label.label Semestre
      .field-body
        .field
          .control
            .select
              = form.input(:semestre, collection: semestre_collection)
    .field
      .file.is-right.is-fullwidth
        %label.file-label
          = form.file_field(:documento, class: 'file-input', data: { action: 'nested-item#updateFileName'})
          %span.file-cta
            %span.file-icon
              %picture 📁
            %span.file-label
              Arquivo
          %span.file-name{ data: { target: 'nested-item.fileName'}}= form.object.documento&.metadata&.[]("filename")
    = form.hidden_field(:_destroy, data: { target: 'nested-item.deleteField' })
    %button.delete.is-normal{ data: { action: 'nested-item#markForDeletion' }}